<ul class="p-article-share">
	<li class="p-article-share-item -facebook">
		<!-- facebook -->
		<div class="fb-like" data-href="{permalink}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
	</li>
	<li class="p-article-share-item -tweet">
		<!-- twitter -->
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="{permalink}" data-via="KasumiMorita" data-lang="ja" data-dnt="true">ツイート</a>
	</li>

	<li class="p-article-share-item">
		<a href="http://b.hatena.ne.jp/entry/{permalink}" class="hatena-bookmark-button" data-hatena-bookmark-title="%{ENTRY_TITLE} | %{BLOG_NAME}" data-hatena-bookmark-layout="standard-balloon" title="このエントリーをはてなブックマークに追加">
			<img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" />
		</a>
	</li>

	<li class="p-article-share-item">
		<!-- pocket -->
		<a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-save-url="{permalink}" data-lang="en"></a>
	</li>
</ul>
