<div class="c-tag-filter">
    <h2 class="c-tag-filter__heading">選んでいるタグ： CMS</h2>
    <p class="c-tag-filter__title">さらに絞り込む：</p>
    <ul class="c-tag-filter__list">
        <li class="c-tag-filter__item"><span class="c-tag-filter__label"><a href="" class="c-tag-filter__link">CSS</a><a href="" class="c-tag-filter__delete" aria-label="CSSを選択から解除する">×</a></span></li>
        <li class="c-tag-filter__item"><span class="c-tag-filter__label"><a href="" class="c-tag-filter__link">CSS</a><a href="" class="c-tag-filter__delete" aria-label="CSSを選択から解除する">×</a></span></li>
        <li class="c-tag-filter__item"><span class="c-tag-filter__label"><a href="" class="c-tag-filter__link">CSS</a><a href="" class="c-tag-filter__delete" aria-label="CSSを選択から解除する">×</a></span></li>
        <li class="c-tag-filter__item"><span class="c-tag-filter__label"><a href="" class="c-tag-filter__link">CSS</a><a href="" class="c-tag-filter__delete" aria-label="CSSを選択から解除する">×</a></span></li>
    </ul>
</div>