<ul class="c-post">
    <li class="c-post__item">
        <div class="c-post-header">
            <p class="c-post__title"><a href="#" class="c-post__title-link">記事のタイトルが入ります</a></p>
            <p class="c-post__published">Published <time>2017.01.01</time></p>
        </div>
        <div class="p-artcle-footer">
            <dl class="c-tags">
                <dt class="c-tag__label"><span class="fa fa-tag"></span><span class="hide-visually">タグ</span></dt>
                <dd class="c-tag__item"><a href="#" class="c-tag__link">CMS</a></dd>
                <dd class="c-tag__item"><a href="#" class="c-tag__link">CSS</a></dd>
                <dd class="c-tag__item"><a href="#" class="c-tag__link">レスポンシブ</a></dd>
            </dl>
        </div>
        <p class="p-article-continue"><a href="#" class="c-btn-link">Read More</a></p>
    </li>
    <li class="c-post__item">
        <div class="c-post-header">
            <p class="c-post__title"><a href="#" class="c-post__title-link">記事のタイトルが入ります</a></p>
            <p class="c-post__published">Published <time>2017.01.01</time></p>
        </div>
        <div class="p-artcle-footer">
            <dl class="c-tags">
                <dt class="c-tag__label"><span class="fa fa-tag"></span><span class="hide-visually">タグ</span></dt>
                <dd class="c-tag__item"><a href="#" class="c-tag__link">CMS</a></dd>
                <dd class="c-tag__item"><a href="#" class="c-tag__link">CSS</a></dd>
                <dd class="c-tag__item"><a href="#" class="c-tag__link">レスポンシブ</a></dd>
            </dl>
        </div>
        <p class="p-article-continue"><a href="#" class="c-btn-link">Read More</a></p>
    </li>
    <li class="c-post__item">
        <div class="c-post-header">
            <p class="c-post__title"><a href="#" class="c-post__title-link">記事のタイトルが入ります</a></p>
            <p class="c-post__published">Published <time>2017.01.01</time></p>
        </div>
        <div class="p-artcle-footer">
            <dl class="c-tags">
                <dt class="c-tag__label"><span class="fa fa-tag"></span><span class="hide-visually">タグ</span></dt>
                <dd class="c-tag__item"><a href="#" class="c-tag__link">CMS</a></dd>
                <dd class="c-tag__item"><a href="#" class="c-tag__link">CSS</a></dd>
                <dd class="c-tag__item"><a href="#" class="c-tag__link">レスポンシブ</a></dd>
            </dl>
        </div>
        <p class="p-article-continue"><a href="#" class="c-btn-link">Read More</a></p>
    </li>
</ul>