<nav class="c-topicpath" aria-label="現在位置">
    <div class="container">
        <ul class="c-topicpath__list">
            <li class="c-topicpath__item"><a href="" class="c-topicpath__link">HOME</a></li>
            <li class="c-topicpath__item"><a href="" class="c-topicpath__link">カテゴリー</a></li>
            <li class="c-topicpath__item"><a href="" class="c-topicpath__link">エントリータイトル</a></li>
        </ul>
    </div>
</nav>
