<ul class="c-list">
    <li class="c-list__item"><a href="">記事のタイトルが入ります</a></li>
    <li class="c-list__item"><a href="">記事のタイトルが入ります</a></li>
    <li class="c-list__item"><a href="">記事のタイトルが入ります</a></li>
    <li class="c-list__item"><a href="">記事のタイトルが入ります</a></li>
</ul>