/* ------------------------------
　　フッター
------------------------------ */

.g-footer {
    position: relative;
    padding: 20px 0 10px 0;
    text-align: center;
    border-top: 1px solid map-get($color-neutral, base);
    background: map-get($color-neutral, light);

    &:before {
        content: "M";
        position: absolute;
        top: -20px;
        left: 50%;
        margin: 0 0 0 -20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        color: #FFF;
        font-weight: bold;
        background: map-get($color-neutral, darkest);
        border-radius: 50%;
        border: 1px solid map-get($color-neutral, base);
        clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
    }
}

.g-footer__copyrights {
    @include font-size(12);
}