{{> @body-start}}
<article class="p-article">
    <header class="p-article-header">
        <h1 class="p-article-header__title">お探しのページが見つかりませんでした</h1>
    </header>
    <div class="s-unit">
        <div class="s-unit__container">
            <p>お探しのページは一時的にアクセセスできない状況にあるか、移動もしくは削除された可能性があります。</p>
            <p class="s-unit__btn s-unit__btn--icon-left"><a href=""><span class="fa fa-angle-right" aria-hidden="true"></span>トップページに戻る</a></p>
        </div>
    </div>
</article>