

<!-- facebook-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3&appId=836234393091610";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- はてな -->
<script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

<!-- pocket -->
<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script><article class="p-article">
    <header class="p-article-header">
        <h1 class="p-article-header__title">記事のタイトルが入ります。記事のタイトルが入ります。記事のタイトルが入ります。</h1>
        <p class="p-article-header__published">Published <time>2017.01.01</time></p>
    </header>
    <div class="s-unit">
        <div class="s-unit__container">
            <p>本文が入ります本文が入ります<strong>本文</strong>が入ります本文が<em>入ります</em>本文が入ります<a href="">本文が入ります</a>本文が入ります。</p>
            <h2>見出し大</h2>
            <h3>見出し中</h3>
            <h4>見出し小</h4>
            <ul>
                <li>リストです</li>
                <li>リストです</li>
                <li>リストです</li>
            </ul>
            <ol>
                <li>番号つきリストです</li>
                <li>番号つきリストです</li>
                <li>番号つきリストです</li>
            </ol>
            <dl>
                <dt>定義されます</dt>
                <dd>定義されました定義されました定義されました</dd>
                <dt>定義されます</dt>
                <dd>定義されました定義されました定義されました</dd>
                <dt>定義されます</dt>
                <dd>定義されました定義されました定義されました</dd>
            </dl>
            <hr>
            <p>本文が入ります本文が入ります本文が入ります<code>linear-gradient</code>本文が入ります本文が入ります本文が入ります</p>
            <div class="s-unit__element">
                <table>
                    <tr>
                        <th>見出しが入ります</th>
                        <td>内容が入ります</td>
                    </tr>
                    <tr>
                        <th>見出しが入ります</th>
                        <td>内容が入ります</td>
                    </tr>
                    <tr>
                        <th>見出しが入ります</th>
                        <td>内容が入ります</td>
                    </tr>
                </table>
            </div>
            <blockquote>
                引用した文章が入ります。引用した文章が入ります。引用した文章が入ります。引用した文章が入ります。
                <cite>森田かすみ - mkasumi.com</cite>
            </blockquote>
            <pre>
                ソースコードが入ります
            </pre>
        </div>
    </div>
            <p class="p-article-continue"><a href="#" class="c-btn-link">つづきを読む</a></p>
    <footer class="p-artcle-footer">
        <dl class="c-tags">
            <dt class="c-tag__label"><span class="fa fa-tag"></span><span class="hide-visually">タグ</span></dt>
            <dd class="c-tag__item"><a href="#" class="c-tag__link">CMS</a></dd>
            <dd class="c-tag__item"><a href="#" class="c-tag__link">CSS</a></dd>
            <dd class="c-tag__item"><a href="#" class="c-tag__link">レスポンシブ</a></dd>
        </dl>
        <ul class="p-article-share">
        	<li class="p-article-share-item -facebook">
        		<!-- facebook -->
        		<div class="fb-like" data-href="{permalink}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        	</li>
        	<li class="p-article-share-item -tweet">
        		<!-- twitter -->
        		<a href="https://twitter.com/share" class="twitter-share-button" data-url="{permalink}" data-via="KasumiMorita" data-lang="ja" data-dnt="true">ツイート</a>
        	</li>
        
        	<li class="p-article-share-item">
        		<a href="http://b.hatena.ne.jp/entry/{permalink}" class="hatena-bookmark-button" data-hatena-bookmark-title="%{ENTRY_TITLE} | %{BLOG_NAME}" data-hatena-bookmark-layout="standard-balloon" title="このエントリーをはてなブックマークに追加">
        			<img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" />
        		</a>
        	</li>
        
        	<li class="p-article-share-item">
        		<!-- pocket -->
        		<a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-save-url="{permalink}" data-lang="en"></a>
        	</li>
        </ul>
    </footer>
</article>
