

<header class="g-header">
    <div class="container">
        <div class="g-header__inner">
            <h1 class="g-header__logo">mkasumi.com</h1>
            <div class="g-header__nav">
                <nav class="g-nav">
                    <ul class="g-nav__lists">
                        <li class="g-nav__list-item"><a href="#" class="g-nav__link">Blog</a></li>
                        <li class="g-nav__list-item"><a href="#" class="g-nav__link">About</a></li>
                    </ul>
                </nav>            </div>
        </div>
    </div>
</header>
