

<header class="g-header">
    <div class="container">
        <div class="g-header__inner">
            <h1 class="g-header__logo">mkasumi.com</h1>
            <div class="g-header__nav">
                <nav class="g-nav">
                    <ul class="g-nav__lists">
                        <li class="g-nav__list-item"><a href="#" class="g-nav__link">Blog</a></li>
                        <li class="g-nav__list-item"><a href="#" class="g-nav__link">About</a></li>
                    </ul>
                </nav>            </div>
        </div>
    </div>
</header><nav class="c-topicpath" aria-label="現在位置">
    <div class="container">
        <ul class="c-topicpath__list">
            <li class="c-topicpath__item"><a href="" class="c-topicpath__link">HOME</a></li>
            <li class="c-topicpath__item"><a href="" class="c-topicpath__link">カテゴリー</a></li>
            <li class="c-topicpath__item"><a href="" class="c-topicpath__link">エントリータイトル</a></li>
        </ul>
    </div>
</nav>
<div class="container-md">
    <div class="c-tag-filter">
        <h2 class="c-tag-filter__heading">選んでいるタグ： CMS</h2>
        <p class="c-tag-filter__title">さらに絞り込む：</p>
        <ul class="c-tag-filter__list">
            <li class="c-tag-filter__item"><span class="c-tag-filter__label"><a href="" class="c-tag-filter__link">CSS</a><a href="" class="c-tag-filter__delete" aria-label="CSSを選択から解除する">×</a></span></li>
            <li class="c-tag-filter__item"><span class="c-tag-filter__label"><a href="" class="c-tag-filter__link">CSS</a><a href="" class="c-tag-filter__delete" aria-label="CSSを選択から解除する">×</a></span></li>
            <li class="c-tag-filter__item"><span class="c-tag-filter__label"><a href="" class="c-tag-filter__link">CSS</a><a href="" class="c-tag-filter__delete" aria-label="CSSを選択から解除する">×</a></span></li>
            <li class="c-tag-filter__item"><span class="c-tag-filter__label"><a href="" class="c-tag-filter__link">CSS</a><a href="" class="c-tag-filter__delete" aria-label="CSSを選択から解除する">×</a></span></li>
        </ul>
    </div>    <ul class="c-post">
        <li class="c-post__item">
            <div class="c-post-header">
                <p class="c-post__title"><a href="#" class="c-post__title-link">記事のタイトルが入ります</a></p>
                <p class="c-post__published">Published <time>2017.01.01</time></p>
            </div>
            <div class="p-artcle-footer">
                <dl class="c-tags">
                    <dt class="c-tag__label"><span class="fa fa-tag"></span><span class="hide-visually">タグ</span></dt>
                    <dd class="c-tag__item"><a href="#" class="c-tag__link">CMS</a></dd>
                    <dd class="c-tag__item"><a href="#" class="c-tag__link">CSS</a></dd>
                    <dd class="c-tag__item"><a href="#" class="c-tag__link">レスポンシブ</a></dd>
                </dl>
            </div>
            <p class="p-article-continue"><a href="#" class="c-btn-link">Read More</a></p>
        </li>
        <li class="c-post__item">
            <div class="c-post-header">
                <p class="c-post__title"><a href="#" class="c-post__title-link">記事のタイトルが入ります</a></p>
                <p class="c-post__published">Published <time>2017.01.01</time></p>
            </div>
            <div class="p-artcle-footer">
                <dl class="c-tags">
                    <dt class="c-tag__label"><span class="fa fa-tag"></span><span class="hide-visually">タグ</span></dt>
                    <dd class="c-tag__item"><a href="#" class="c-tag__link">CMS</a></dd>
                    <dd class="c-tag__item"><a href="#" class="c-tag__link">CSS</a></dd>
                    <dd class="c-tag__item"><a href="#" class="c-tag__link">レスポンシブ</a></dd>
                </dl>
            </div>
            <p class="p-article-continue"><a href="#" class="c-btn-link">Read More</a></p>
        </li>
        <li class="c-post__item">
            <div class="c-post-header">
                <p class="c-post__title"><a href="#" class="c-post__title-link">記事のタイトルが入ります</a></p>
                <p class="c-post__published">Published <time>2017.01.01</time></p>
            </div>
            <div class="p-artcle-footer">
                <dl class="c-tags">
                    <dt class="c-tag__label"><span class="fa fa-tag"></span><span class="hide-visually">タグ</span></dt>
                    <dd class="c-tag__item"><a href="#" class="c-tag__link">CMS</a></dd>
                    <dd class="c-tag__item"><a href="#" class="c-tag__link">CSS</a></dd>
                    <dd class="c-tag__item"><a href="#" class="c-tag__link">レスポンシブ</a></dd>
                </dl>
            </div>
            <p class="p-article-continue"><a href="#" class="c-btn-link">Read More</a></p>
        </li>
    </ul>    <nav class="c-pagination__container" aria-label="ページネーション">
        <div class="c-pagination">
            <ul class="c-pagination__arrow">
                <li class="c-pagination__arrow-item -left"><a href="#" class="c-pagination__arrow-link"><span class="fa fa-angle-left" aria-hidden="true"></span><span class="hide-visually">前へ</span></a></li>
                <li class="c-pagination__arrow-item -right"><a href="#" class="c-pagination__arrow-link"><span class="hide-visually">次へ</span><span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
            </ul>
            <ul class="c-pagination__list">
                <li class="c-pagination__item"><a href="#" class="c-pagination__link">1</a></li>
                <li class="c-pagination__item"><a href="#" class="c-pagination__link">2</a></li>
                <li class="c-pagination__item"><a href="#" class="c-pagination__link">3</a></li>
            </ul>
        </div>
    </nav>    <section class="p-side">
        <h2 class="p-side-heading">著者について</h2>
        <div class="c-profile">
            <figure class="c-profile__figure">
                <img src="/assets/images/profile.jpg" alt="" class="c-profile__figure-img" width="150" height="150">
            </figure>
            <div class="c-profile__contents">
                <p class="c-profile__name">森田 かすみ</p>
                <p class="c-profile__detail">名古屋のWeb制作会社でマークアップエンジニアとして働いています。マークアップ勉強会名古屋という勉強会の主催もやっています</p>
                <ul class="c-sns">
                    <li class="c-sns__list"><a href="" class="c-sns__link"><span class="fa fa-facebook"></span></a></li>
                    <li class="c-sns__list"><a href="" class="c-sns__link"><span class="fa fa-twitter"></span></a></li>
                    <li class="c-sns__list"><a href="" class="c-sns__link"><span class="hatena"></span></a></li>
                </ul>
            </div>
        </div></section></div>
<footer class="g-footer">
    <p class="g-footer__copyrights">© mkasumi.com All Rights reserved.</p>
</footer>
