

<section class="p-side">
    <h2 class="p-side-heading">関連している記事</h2>
    <ul class="c-card">
        <li class="c-card__item">
            <a href="#" class="c-card__link">
                <figure class="c-card__figure">
                    <img src="http://via.placeholder.com/288x162" alt="" class="img-responsive">
                </figure>
                <p class="c-card__title">記事のタイトルが入ります</p>
                <p class="c-card__published">Published <time>2017.01.01</time></p>
            </a>
        </li>
        <li class="c-card__item">
            <a href="#" class="c-card__link">
                <figure class="c-card__figure">
                    <img src="http://via.placeholder.com/288x162" alt="" class="img-responsive">
                </figure>
                <p class="c-card__title">記事のタイトルが入ります</p>
                <p class="c-card__published">Published <time>2017.01.01</time></p>
            </a>
        </li>
        <li class="c-card__item">
            <a href="#" class="c-card__link">
                <figure class="c-card__figure">
                    <img src="http://via.placeholder.com/288x162" alt="" class="img-responsive">
                </figure>
                <p class="c-card__title">記事のタイトルが入ります</p>
                <p class="c-card__published">Published <time>2017.01.01</time></p>
            </a>
        </li>
        <li class="c-card__item">
            <a href="#" class="c-card__link">
                <figure class="c-card__figure">
                    <img src="/assets/images/noImage.jpg" alt="" class="img-responsive">
                </figure>
                <p class="c-card__title">記事のタイトルが入ります</p>
                <p class="c-card__published">Published <time>2017.01.01</time></p>
            </a>
        </li>
    </ul></section>
