<header class="g-header">
    <div class="container">
        <div class="g-header__inner">
            <h1 class="g-header__logo">mkasumi.com</h1>
            <div class="g-header__nav">
                {{> @global-nav}}
            </div>
        </div>
    </div>
</header>