

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link media="all" rel="stylesheet" href="../../dest/okome.css">
  <link media="all" rel="stylesheet" href="../../dest/bundle.css">
  <title>Preview Layout</title>
</head>
<body>

<header class="g-header">
    <div class="container">
        <div class="g-header__inner">
            <h1 class="g-header__logo">mkasumi.com</h1>
            <div class="g-header__nav">
                <nav class="g-nav">
                    <ul class="g-nav__lists">
                        <li class="g-nav__list-item"><a href="#" class="g-nav__link">Blog</a></li>
                        <li class="g-nav__list-item"><a href="#" class="g-nav__link">About</a></li>
                    </ul>
                </nav>            </div>
        </div>
    </div>
</header><nav class="c-topicpath" aria-label="現在位置">
    <div class="container">
        <ul class="c-topicpath__list">
            <li class="c-topicpath__item"><a href="" class="c-topicpath__link">HOME</a></li>
            <li class="c-topicpath__item"><a href="" class="c-topicpath__link">カテゴリー</a></li>
            <li class="c-topicpath__item"><a href="" class="c-topicpath__link">エントリータイトル</a></li>
        </ul>
    </div>
</nav>
<div class="container-md">
    <!-- facebook-->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3&appId=836234393091610";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <!-- twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    
    <!-- はてな -->
    <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    
    <!-- pocket -->
    <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script><article class="p-article">
        <header class="p-article-header">
            <h1 class="p-article-header__title">お探しのページが見つかりませんでした</h1>
        </header>
        <div class="s-unit">
            <div class="s-unit__container">
                <p>お探しのページは一時的にアクセセスできない状況にあるか、移動もしくは削除された可能性があります。</p>
                <p class="s-unit__btn s-unit__btn--icon-left"><a href=""><span class="fa fa-angle-right" aria-hidden="true"></span>トップページに戻る</a></p>
            </div>
        </div>
    </article></div>
<div class="container">
    <section class="p-side">
        <h2 class="p-side-heading">著者について</h2>
        <div class="c-profile">
            <figure class="c-profile__figure">
                <img src="/assets/images/profile.jpg" alt="" class="c-profile__figure-img" width="150" height="150">
            </figure>
            <div class="c-profile__contents">
                <p class="c-profile__name">森田 かすみ</p>
                <p class="c-profile__detail">名古屋のWeb制作会社でマークアップエンジニアとして働いています。マークアップ勉強会名古屋という勉強会の主催もやっています</p>
                <ul class="c-sns">
                    <li class="c-sns__list"><a href="" class="c-sns__link"><span class="fa fa-facebook"></span></a></li>
                    <li class="c-sns__list"><a href="" class="c-sns__link"><span class="fa fa-twitter"></span></a></li>
                    <li class="c-sns__list"><a href="" class="c-sns__link"><span class="hatena"></span></a></li>
                </ul>
            </div>
        </div></section></div>
<footer class="g-footer">
    <p class="g-footer__copyrights">© mkasumi.com All Rights reserved.</p>
</footer>

</body>
</html>
