

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link media="all" rel="stylesheet" href="../../dest/okome.css">
  <link media="all" rel="stylesheet" href="../../dest/bundle.css">
  <title>Preview Layout</title>
</head>
<body>

<section class="p-side">
    <h2 class="p-side-heading">著者について</h2>
    <div class="c-profile">
        <figure class="c-profile__figure">
            <img src="/assets/images/profile.jpg" alt="" class="c-profile__figure-img" width="150" height="150">
        </figure>
        <div class="c-profile__contents">
            <p class="c-profile__name">森田 かすみ</p>
            <p class="c-profile__detail">名古屋のWeb制作会社でマークアップエンジニアとして働いています。マークアップ勉強会名古屋という勉強会の主催もやっています</p>
            <ul class="c-sns">
                <li class="c-sns__list"><a href="" class="c-sns__link"><span class="fa fa-facebook"></span></a></li>
                <li class="c-sns__list"><a href="" class="c-sns__link"><span class="fa fa-twitter"></span></a></li>
                <li class="c-sns__list"><a href="" class="c-sns__link"><span class="hatena"></span></a></li>
            </ul>
        </div>
    </div></section>

</body>
</html>
