

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link media="all" rel="stylesheet" href="../../dest/okome.css">
  <link media="all" rel="stylesheet" href="../../dest/bundle.css">
  <title>Preview Layout</title>
</head>
<body>

<div class="c-tag-filter">
    <h2 class="c-tag-filter__heading">選んでいるタグ： CMS</h2>
    <p class="c-tag-filter__title">さらに絞り込む：</p>
    <ul class="c-tag-filter__list">
        <li class="c-tag-filter__item"><span class="c-tag-filter__label"><a href="" class="c-tag-filter__link">CSS</a><a href="" class="c-tag-filter__delete" aria-label="CSSを選択から解除する">×</a></span></li>
        <li class="c-tag-filter__item"><span class="c-tag-filter__label"><a href="" class="c-tag-filter__link">CSS</a><a href="" class="c-tag-filter__delete" aria-label="CSSを選択から解除する">×</a></span></li>
        <li class="c-tag-filter__item"><span class="c-tag-filter__label"><a href="" class="c-tag-filter__link">CSS</a><a href="" class="c-tag-filter__delete" aria-label="CSSを選択から解除する">×</a></span></li>
        <li class="c-tag-filter__item"><span class="c-tag-filter__label"><a href="" class="c-tag-filter__link">CSS</a><a href="" class="c-tag-filter__delete" aria-label="CSSを選択から解除する">×</a></span></li>
    </ul>
</div>

</body>
</html>
